{
  "tagFormat": "${version}",
  "plugins": [
    ["@semantic-release/exec", {
      "verifyConditions": "tbump ${nextRelease.version} --only-patch --non-interactive"
    }],
    ["@semantic-release/git", {
        "assets": [
            "**/*"
        ],
        "message": "chore(release): ${nextRelease.version}"
    }]
  ]
}
